<h1>New User Form</h1>

<form action="/users" method="post" accept-charset="UTF-8" data-turbo="false">
  <!-- Authenticity token for CSRF protection -->
  <input type="hidden" name="authenticity_token" value="<%= form_authenticity_token %>">

  <div>
    <label for="username">Username:</label><br>
    <input type="text" name="user[username]" id="username">
  </div>

  <div>
    <label for="email">Email:</label><br>
    <input type="email" name="user[email]" id="email">
  </div>

  <div>
    <label for="password">Password:</label><br>
    <input type="password" name="user[password]" id="password">
  </div>

  <div>
    <input type="submit" value="Submit Form">
  </div>
</form>